* {
  box-sizing: border-box;
}
html {
  background-color: #BD9391;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.top-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.arrow {
  opacity: 75%;
  width: 50px;
  transition: 50ms;
}

.left:hover {
  filter: drop-shadow(5px 0px 1px blue);
}

.right:hover {
  filter: drop-shadow(-5px 0px 1px blue);
}

.right {
  text-align: right;
}

.frame {
  background-color: #4C3B4D;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  padding: 25px;
  height: 500px;
  width: 500px;
}

.main-image {
  filter: brightness(25%);
  width: 100%;
  object-fit: cover;
  transition: filter ease-out 200ms;
}

.display-main {
  filter: none;
}

.slides {
  align-items: center;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(10, 1fr);
  width: 75%;
}

.image-slides {
  width: 100%;
  filter: drop-shadow(2px 4px 6px black) brightness(50%) grayscale(10%);
  transition: 500ms;
}


.image-slides:hover, .image-slides.selected {
  filter: drop-shadow(2px 4px 6px black);
  transform: scale(1.1);
}